<h1>Profile</h1>

<input type="text" class="" name="" placeholder="Item Name" ng-model="itemName">
<input type="text" class="" name="" placeholder="Item Description" ng-model="itemDesciption">
<input type="text" class="" name="" placeholder="Item Category" ng-model="itemCategory">
<input type="number" class="" name="" placeholder="Item Amount"  ng-model="itemAmount">
<input type="number" class="" name="" placeholder="Item Price" ng-model="itemPrice">

<button class="btn btn-success" ng-click="addNewListItem()">Add Item</button>